* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --nav: #ddd;
  --header: #fff;
}

body {
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
h1,
h2 {
  text-transform: uppercase;
  /* font-style: italic; */
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
  letter-spacing: 4px;
}

h1 {
  font-size: 12rem;
  color: var(--header);
  z-index: 1;
}
h2 {
  position: relative;
  font-size: 6em;
  margin: 3em 0;
}
h2::after {
  position: absolute;
  transform: translateX(-50%);
  content: '';
  bottom: 0;
  left: 50%;
  width: 90vw;
  height: 1px;
  background-color: #000;
}
/* NAV */

.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* height: 10vh; */
  width: 100vw;
  background: none;
  z-index: 1;
}

.nav__items {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(222, 222, 222, 0.85);
  transform: translate(-120%, -120%);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 900;
}
.nav__items--active {
  z-index: 100;
  transform: translate(0, 0);
}
.nav__item {
  position: relative;
  margin-top: 3em;
  padding: 0.6em 1.5em;
  font-size: 3rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition-delay: 0.4s;
}
.nav__item:first-child {
  margin-top: 0em;
}
.nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.2em;
  border-radius: 0.2em;
  background-color: #333;
  transition: width 0.3s ease-in-out;
}
.nav__item:hover::after {
  width: 100%;
}
.nav .burger-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1em;
  left: 0;
  width: 50px;
  height: 60px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
.nav .burger-btn__bars {
  position: relative;
  width: 70%;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.nav .burger-btn__bars::before,
.nav .burger-btn__bars::after {
  content: '';
  position: absolute;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
.nav .burger-btn__bars::before {
  transform: translateY(-16px);
}
.nav .burger-btn__bars::after {
  transform: translateY(16px);
}
.nav .open {
  transform: translateX(0%);
  background-color: transparent;
}
.nav .open::before {
  transform: rotate(45deg);
}
.nav .open::after {
  transform: rotate(-45deg);
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10em;
  z-index: 1;
}

.header-text p {
  color: #fff;
  font-size: 4em;
  z-index: 1;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 102%;
  top: 0%;
  bottom: 0;
  background-image: url(img/insurance-5238829_1280.jpg);
  background-position: center;
  background-size: cover;
  clip-path: ellipse(75% 90% at 63% 83%);
  overflow: hidden;
}
.background::after,
.header-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
/* MAIN */
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
/* About me */
.carousel {
  position: relative;
  width: 97vw;
  height: 7vh;
  overflow: hidden;
  background-color: #cdcdcd;
  border-radius: 2em;
  z-index: 0;
}
.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 100%;
}
.carousel-item.active {
  display: flex;

  left: 0;
  transition: all 0.3s ease-out;
}

div.color,
img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
}

.allianz {
  background-image: url(img/allianz.png);
}
.unum {
  background-image: url(img/unum.webp);
}
.uniqa {
  background-image: url(img/uniqa.webp);
}
.pzu {
  background-image: url(img/pzu.png);
}
.generali {
  background-image: url(img/generali.png);
}
.hestia {
  background-image: url(img/hestia.jpg);
}
.tuz {
  background-image: url(img/tuz.jpg);
}
.compensa {
  background-image: url(img/compensa.jpeg);
  /* background-size: cover; */
}
.warta {
  background-image: url(img/warta.jpg);
  background-size: auto;
}

/* Oferts */
.accordion-icon {
  display: inline;
  margin-right: 1em;
}

.accordion {
  width: 800px;
  background-color: #fff;
  border-radius: 6px;
}

.accordion-box {
  margin: 20px;
}
.accordion-btn {
  padding: 1em;
  width: 100%;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-btn:hover,
.accordion-btn:focus {
  background-color: var(--nav);
  color: #fff;
  outline: none;
}

.accordion-info {
  display: none;
  padding: 1em 2em;
}
.accordion-info-text {
  font-size: 2rem;
}

.active {
  display: block;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  padding: 50px;
  width: 600px;
  background-color: #fff;
  border-radius: 24px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.contact-form label {
  margin-bottom: 10px;
  font-size: 24px;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 15px;
  font-size: 16px;
  font-family: inherit;
  border: 2px solid hsl(0, 0%, 67%);
  border-radius: 12px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form button {
  padding: 12px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.contact-form button:hover {
  /* color: #fff; */
  background-color: #ddd;
}

.msg-status {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  padding: 30px;
  width: 600px;
  border-radius: 12px;
  font-size: 24px;
  z-index: 2000;
}

.success {
  display: flex;
  background-color: hsl(143, 83%, 55%);
}
.error {
  display: flex;
  background-color: hsl(9, 64%, 64%);
}

/* FOOTER */
footer {
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70%;
  padding: 4em;
}
footer .footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  /* padding-left: 1em; */
}
footer .footer__logo-icon {
  width: 20%;
  margin-right: 0.3em;
}
footer .footer__logo-name {
  text-transform: uppercase;
  font-size: 3rem;
}
footer .footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  border-spacing: 4em 2em;
}
footer .footer__info-column {
  font-size: 1.2rem;
  overflow: hidden;
}
footer .footer__info-column th {
  font-size: 2rem;
  font-weight: bold;
}
footer .footer__info-column th a {
  color: #000;
}
footer .footer__info-column td {
  cursor: pointer;
  transition: scale 0.3s, transform 0.3s;
}
footer .footer__info-column td:hover {
  transform: translateX(0.1em);
  scale: 1.08;
}
footer .footer__company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5em;
  font-size: 1.2rem;
}
footer .footer__company-name:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100vw;
  top: 0;
  border-top: 1px solid #000;
}
footer .footer__company-name-year {
  margin-right: 0.4em;
} /*# sourceMappingURL=footer.css.map */

@media (min-width: 300px) {
  .nav {
    padding: 3vw;
  }
  .nav .burger-btn {
    left: 3%;
    padding: 2px;
    width: 60px;
    height: 60px;
  }
  .background {
    clip-path: ellipse(87% 93% at 73% 86%);
  }
}
@media (min-width: 768px) {
  .nav {
    padding: 3vw;
  }
  .nav .burger-btn {
    top: 2em;
    left: 3%;
    padding: 2px;
    width: 70px;
    height: 70px;
  }
  .background {
    clip-path: ellipse(87% 93% at 73% 86%);
  }
}

@media (min-width: 992px) {
  .nav .burger-btn {
    top: 2em;
  }
  .background {
    background-image: url(img/insurance-5238829_1280.jpg);
    clip-path: ellipse(84% 95% at 73% 83%);
  }

  .carousel {
    
    height: 11vh;
    
  }
}
@media (min-width: 1400px) {
  .nav .burger-btn {
    top: 4em;
  }
  .carousel {
    
    height: 22vh;
    
  }
}
